<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Travel Weather</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap" rel="stylesheet">
  </head>

  <body>

    <div class="app">

      <div class="holder headline">
        <h1>Travel<br>
            Weather</h1>
      </div>

      <div class="holder city">
        <label for="city">destination</label>
        <input type="text" id="city" placeholder="New York">
      </div>

      <div class="holder day">
        <label for="day">day</label>
        <input type="text" id="day" placeholder="14">
      </div>

      <div class="holder month">
        <label for="month">month</label>
        <input type="text" id="month" placeholder="03">
      </div>

      <div class="holder year">
        <label for="year">year</label>
        <input type="text" id="year" placeholder="2021">
      </div>

      <div class="holder button">
        <button id="generate" type="submit">log your weather</button>
      </div>

      <div class="holder entry">
        <div id="pic"></div>
        <div id="results" class="title">Trip Details</div>
        <div id="date">...</div>
        <div id="interval"></div>
        <div id="temp"></div>
        <div id="icon"></div>
        <div id="description"></div>
      </div>

      <div id="pixabayLogoBox">
        <a id="pixabayLink" href="#"></a>
      </div>

    </div>

  </body>
</html>
