$blue-darkest: rgb(43, 59, 90);
$blue-darker: rgb(136, 149, 174);
$blue-medium: rgb(176, 185, 201);
$blue-lighter: rgb(231, 234, 239);
$blue-lightest: rgb(239, 241, 244);

$white: rgb(255, 255, 255);
