@import 'colors';
@import 'fonts';

html {
  height: 100%; // flex & grid style
}

body {
  background: $blue-darker;
  display: flex;
  flex-direction: column;
  font-family: $base;
  height: 100vh; // flex style. Avoid the IE 10-11 `min-height` bug
  margin: 0;
}

header {
  background-color: $blue-darkest;
  display: flex;
  height: 80px;
  margin: 0 auto 20px;
  width: 100%;
}

.travel-weather-logo {
  margin: 20px auto;
  width: 300px;
}

.content {
  flex: 1 0 auto;  // flex style. Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size
}

.css-grid-layout {
  display: grid;
  grid-row-gap: 20px;
  grid-template-columns: 1fr;
}

.box {
  background-color: $blue-lighter;
  color: $blue-darkest;
  display: grid;
  font-size: 1.3em;
  font-weight: 300;
  grid-row-gap: 10px;
  justify-self: center;
  margin: 0 20px;
  max-width: 600px;
  padding: 10px 0 20px;
  text-align: center;
  width: 340px;

  @media (min-width: 740px) {
    max-width: 700px;
    width: 700px;
  }
}

.part {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

label {
  margin: 0 auto 5px;
}

input {
  background: $white;
  border: 0;
  font-family: $base;
  font-size: 1.0em;
  font-weight: 400;
  padding: 0;
  text-align: center;
  width: 100%;

  // Style for Placeholder Text
  &::placeholder { // Firefox, Chrome, Opera
    color: $blue-medium;
    font-weight: 100;
  }

  &::-ms-input-placeholder { // Internet Explorer 10-11
    color: $blue-medium;
    font-weight: 100;
  }

  &::-ms-input-placeholder { // Microsoft Edge */
    color: $blue-medium;
    font-weight: 100;
  }
}

.date-input {
  display: flex;
  flex-direction: row;
}

button {
  background: $blue-darkest;
  border: 0;
  color: $white;
  font-family: $base;
  font-size: 1.0em;
  font-weight: 300;
  height: 40px;
  margin: 10px 0 0;
  padding: 0;

  &:hover {
    color: $blue-darker;
  }
}

.results {
  display: none;
}

@media (min-width: 740px) {
  .results-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.results-title {
  font-weight: 500;
  text-transform: uppercase;
}

.results-text {
  display: grid;
  grid-row-gap: 10px;

  @media (min-width: 740px) {
    margin: 0 20px 0 0;
  }
}

#pic {
  margin: 0 20px 10px;

  img {
    height: auto;
    width: 100%;
  }
}

#city-result {
  font-weight: 500;
  text-transform: capitalize;
}

#conditions {
  text-transform: lowercase;
}

#icon {
  margin: 0 auto -10px;

  img {
    height: 60px;
    margin: -10px auto 0;
  }
}

footer {
  background-color: $blue-darkest;
  color: $blue-darker;
  display: grid;
  flex-shrink: 0;  // flex style. Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size
  font-weight: 200;
  grid-row-gap: 20px;
  grid-template-columns: 1fr;
  margin: 20px 0 0;
  padding: 20px 0;
  text-align: center;
  width: 100%;

  p {
    margin: 0 auto 5px;
  }

  img {
    height: 30px;
  }

  a {
    color: $blue-darker;
    font-size: 1.3em;
    font-weight: 500;
    text-decoration: none;

    &:hover {
      color: $blue-lighter;
    }
  }

  .pixabay-svg {
    height: 30px;
    width: 140px;

    path {
      fill: $blue-darker;
    }

    &:hover {
      path {
        fill: $blue-lighter;
      }
    }
  }
}

//  Basic Styling To Override Default For Basic HTML Elements */
h1 {
  color: $white;
  font-size: 1.5em;
  font-weight: 900;
  letter-spacing: 0.3em;
  line-height: 1.0em;
  margin: 20px auto 0;
  text-shadow: -1px 0px 1px rgb(51, 51, 51), 0px 1px 1px rgb(77, 77, 77),
               -2px 1px 1px rgb(51, 51, 51), -1px 2px 1px rgb(77, 77, 77),
               -3px 2px 1px rgb(51, 51, 51), -2px 3px 1px rgb(77, 77, 77),
               -4px 3px 1px rgb(51, 51, 51), -3px 4px 1px rgb(77, 77, 77),
               -5px 4px 1px rgb(51, 51, 51), -4px 5px 1px rgb(77, 77, 77);
  text-transform: uppercase;
}

// Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
