body{
  background: rgb(201, 220, 250);
  margin: 0;
}

.app{
  align-items: center;
  color: black;
  display: grid;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.5em;
  grid-row-gap: 20px;
  margin: 10px auto;
  max-width: 360px;
  text-align: center;
  width: 80vw;
}

.holder{
  display: flex;
  flex-direction: column;
  font-weight: 200;
}

.entry{
  background: rgb(153, 185, 234);
  margin-top: 20px;
  padding: 10px 0;
}

.entry div {
  padding: 4px;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
h1 {
  color: white;
  font-size: 1.5em;
  font-weight: 900;
  letter-spacing: 0.3em;
  line-height: 1.0em;
  margin: 20px auto 0;
  text-shadow: -1px 0px 1px rgb(51, 51, 51), 0px 1px 1px rgb(77, 77, 77),
               -2px 1px 1px rgb(51, 51, 51), -1px 2px 1px rgb(77, 77, 77),
               -3px 2px 1px rgb(51, 51, 51), -2px 3px 1px rgb(77, 77, 77),
               -4px 3px 1px rgb(51, 51, 51), -3px 4px 1px rgb(77, 77, 77),
               -5px 4px 1px rgb(51, 51, 51), -4px 5px 1px rgb(77, 77, 77);
  text-transform: uppercase;
}

label{
    display:block;
    margin: 0 auto 5px;
}

input{
    background:white;
    border: none;
    color: rgb(179,179,179);
    display:block;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.0em;
    font-weight: 200;
    text-align: center;
}

textarea{
  border: none;
  color: rgb(179,179,179);
  font-family: 'Work Sans', sans-serif;
  font-size: 0.9em;
  font-weight: 200;
  resize: none;
  text-align: center;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */
    color: rgb(179,179,179);
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(179,179,179);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(179,179,179);
}


button{
    background: #3b4a6b;
    border: none;
    color: white;
    font-size: 1.0em;
    font-weight: 100;
    height: 60px;
    letter-spacing: 0.05em;
    margin-top: 20px;
    text-transform: uppercase;
}
